body{
    width: 100vw;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.container{
    width: 500px;
    border: 1px solid black;

}
.main{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}
.display{
    border: 1px solid black;
    width: 20px;
    padding: 6px;
}
.dec-btn{
    padding: 4px 10px;
}
.inc-btn{
    padding: 6px 10px;
}
.reset{
    padding: 6px 10px;
    margin-bottom: 10px;
}